body {
  font-family: "Playfair Display", serif;
}

#cookbookHeader {
  text-align: center;
  background-color:  rgb(206, 199, 191);
  font-size: 2rem;
}

#cookbookContainer{
  background-color: rgb(230, 230, 230);
  margin-top: 1rem;
}

#clearListBtn:hover {
  background-color: rgb(237, 207, 207);
  font-size: 1rem;
}